<div id="search">
</div>

<div id="main">
</div>
<% if !user_signed_in? %>
  <h2 class="text-center">Keep Calm!</h2>
  <h2 class="text-center">You're now in the safest airline in the world.</h2>
  <h2 class="text-center">Please sign in/sign up to use this service.</h2>
<% end %>

<script id="appView" type="text/x-underscore-template">
  <!-- The title All flights will be hidden at first, it will be displayed only after a user makes a search -->
  <h1 class="flights_title">All Flights  <i class="glyphicon glyphicon-plane"></i><i class="glyphicon glyphicon-plane"></i></h1>
  <ul id="flights"></ul>

  <!-- form to make a search -->
  <form>
    <h1 class="burning">Search flights  <i class="glyphicon glyphicon-plane"></i></h1>
    <input id="origin" class="form-control" placeholder="From">
    <input id="destination" class="form-control" placeholder="To">
    <br><button class="grow btn btn-success">Search</button>
  </form>
  <br>
</script>

<script id="flightListView" type="text/x-underscore-template">
  <div><a href="#flights/{{ id }}">From: {{origin}}, To: {{destination}}, Flight Reference: {{ flight_no }}, Date: {{date}}, Airplane id:  {{airplane_id}}, flight id: {{id}} </a></div>
</script>

 <script id="flightView" type="text/x-underscore-template">
  <div class="flight">
    <div class="content">
      <p><strong>Flight reference number:</strong> {{ flight_no }}</p>
      <p><strong>From: </strong> {{ origin }}</p>
      <p><strong>To:</strong> {{ destination }}</p>
      <p><strong>Date: </strong> {{ date }}</p>
      <p><strong>Airplane id:</strong> {{ airplane_id }}</p>
      <p><strong>Number of seats: </strong> {{ seatCount }}</p>
      <button class="grow btn btn-success">Book flight</button>
      <button class="grow btn btn-info"><a href='#'>Back</a></button>
    </div>
    <hr>
    <div id="seats">
    </div>
  </div>
</script>

<script id='seats' type="text/x-underscore-template">
  <div class='seats'>
    <p>seat</p>
  </div>
</script>

