<div id="main">
</div>

<script id="appView" type="text/x-underscore-template">
  <h1>All Flights</h1>
  <ul id="flights"></ul>
</script>

<script id="flightListView" type="text/x-underscore-template">
  <a href="#flights/{{ id }}">{{ flight_no }}</a>
</script>

 <script id="flightView" type="text/x-underscore-template">
  <div class="flight">
    <div class="content">
      <p>{{ flight_no }}</p>
      <p>{{ origin }}</p>
      <p>{{ destination }}</p>
      <p>{{ date }}</p>
      <p>{{ airplane_id }}</p>
      <P>hjkehfjkeafhea </p>
    </div>
    <hr>
  </div>
</script>