<div id="search">
</div>

<div id="main">
</div>


<script id="appView" type="text/x-underscore-template">
  <!-- The title All flights will be hidden at first, it will be displayed only after a user makes a search -->
  <h1 class="flights_title">All Flights</h1>
  <ul id="flights"></ul>

  <!-- form to make a search -->
  <form>
    <h1>Search flights</h1>
    <input id="origin" class="form-control" placeholder="From">
    <input id="destination" class="form-control" placeholder="To">
    <button class="btn btn-success">Search</button>
  </form>
  <br>
</script>

<script id="flightListView" type="text/x-underscore-template">
  <a href="#flights/{{ id }}">From: {{origin}}, To: {{destination}}, Flight Reference: {{ flight_no }}, Date: {{date}}, Airplane id:  {{airplane_id}}, flight id: {{id}} </a>
</script>

 <script id="flightView" type="text/x-underscore-template">
  <div class="flight">
    <div class="content">
      <p><strong>Flight reference number:</strong> {{ flight_no }}</p>
      <p><strong>From: </strong> {{ origin }}</p>
      <p><strong>To:</strong> {{ destination }}</p>
      <p><strong>Date: </strong> {{ date }}</p>
      <p><strong>Airplane id:</strong> {{ airplane_id }}</p>
      <p><strong>Number of seats: </strong> {{ seatCount }}</p>
      <button>Book flight</button>
      <button><a href='#'>Back</a></button>
    </div>
    <hr>
    <div id="seats">
    </div>
  </div>
</script>

<script id='seats' type="text/x-underscore-template">
  <div class='seats'>
    <p>seat</p>
  </div>
</script>

