/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

@import "bootstrap.css";

html {
  cursor: url(http://cur.cursors-4u.net/mechanics/mec-2/mec157.cur), default !important;
}

html > body {
  /*background: url('http://www.zastavki.com/pictures/1920x1200/2008/Fantasy_The_plane_with_the_steam_engine_009605_.jpg') center center fixed;*/
  background-size: cover;
  min-width: 960px;
  padding: 50px;
  color: black;
  font-family: 'Raleway', 'sans-serif';
  /*text-shadow: 1px 1px 1px black;*/
}

input {
  max-width: 250px;
}

h1.title, h1.title a {
  font-family: 'Lobster', 'cursive';
  font-size: 80px;
  color: #f9325b;
  text-shadow: 1px 1px 1px #ff124b;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
}

.yield_container {
  margin: 0 auto;
}